#content{
    width:auto;
}

img{
    float:none;
}

h1{
    margin-left: 0px;
}

h2{
    margin-left: 20px;
}

h2.anecdote{
    width:auto;
    margin-left: 20px;
    border-width: 1px 1px 1px 20px;
}

h2.anecdote + p{
    width:auto;
    margin-left: 20px;
    border-width: 0px 1px 1px 20px;
}

p, ul{
    margin-left: 30px;
}

h1, h2{
    width: auto;
}