body {
    background-image: url("http://www.gifsanimes.fr/fonds-ecran/fonds-ecran/anniversaire/anniversaire-gifs-animes-4823745.jpg");
    font-family: 'Helvetica', 'Arial', sans-serif;
}


#list_section {
    text-align: center;
}

ul{
    margin-top:100px;
}

li{
    padding:10px;
    display:none;
    width:60%;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    margin: 10px auto auto auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;

}

#a{
    background-color: blueviolet;
    font-weight: bold;
    display:block;
}

#b{
    background-color: violet;
}

#c{
    background-color: mistyrose;
}

#d{
    background-color: mediumvioletred;
}

sup{
    font-weight: bold;
    color:deepskyblue;
    opacity: revert;
    font-size: 10px;
}

#cupcake{
    width:200px;
    height:300px;

}

#player{
    display:none;
}






















